<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1086002028066-pldt3ucfp2ruubnukpair8ribthjhq1e.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1086002028066-pldt3ucfp2ruubnukpair8ribthjhq1e</string>
	<key>API_KEY</key>
	<string>AIzaSyD3Ig-wEuoBNvRKMlhBh6XvXn92AaO-XM0</string>
	<key>GCM_SENDER_ID</key>
	<string>1086002028066</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.zackesm.Bartainment</string>
	<key>PROJECT_ID</key>
	<string>bartainment-3c2b1</string>
	<key>STORAGE_BUCKET</key>
	<string>bartainment-3c2b1.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1086002028066:ios:70325c18a5dce762</string>
	<key>DATABASE_URL</key>
	<string>https://bartainment-3c2b1.firebaseio.com</string>
</dict>
</plist>